body {
  font-family: "cardea", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
.logo {
  background: #00bddb;
  padding: 10px;
  font-weight: 900;
  transform: skewX(-10deg);
}
.text-aqua {
  color: #00bddb;
}
.small-caps {
  font-variant: small-caps;
}